*{
    box-sizing: border-box;
}


.top h1{
    position: relative;
    color: black;
    font-family: 'New Tegomin', serif;
    font-size:70px;
    margin-left: 39%;
    width: 400px;
    text-align: center;
    margin-top: 170px;
    background-color: #ffffff61;

    
}

main
{
    margin-top: 93px;
}

#templates .navbar
{
    width:100%;
}

.top {
    width: 100%;
    /* height: 100%; */
    height: 500px;  
    background-size: cover;
    background-image: url('https://coolwallpapers.me/picsup/3086336-blur_business_clock_composition_indoors_notepad_number_office_paper_pen_smartphone_table_technology_time_watch_public-domain-images.jpg');
    background-repeat: no-repeat;
    display: flex;
    margin-top: 25px;
}


.top img {
    width: 1000px;
    
    height: 600px;
    position: relative;
    margin-left: 0%;
    margin-top: -70px;
}






/* b{
    color: red;
} */




/* .templets{
    position: relative;
    bottom: -40px;
}



.arrows{
    display: flex;
    margin-left: 109px;
    margin-bottom: -58px;
   
}


.sight{
    flex: 33.33%;

} */


.row {
    display: flex;
    margin: 100px;

   
  }
 
  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

}


/* .row {
    height: 200px;
    position: relative;
    border: 3px solid green;
  } */
  
  /* .column {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
 */



  .column {
    flex: 33.33%;
 
  }




  @-webkit-keyframes swing
  {
      15%
      {
          -webkit-transform: translateX(5px);
          transform: translateX(5px);
      }
      30%
      {
          -webkit-transform: translateX(-5px);
         transform: translateX(-5px);
      } 
      50%
      {
          -webkit-transform: translateX(3px);
          transform: translateX(3px);
      }
      65%
      {
          -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
      }
      80%
      {
          -webkit-transform: translateX(2px);
          transform: translateX(2px);
      }
      100%
      {
          -webkit-transform: translateX(0);
          transform: translateX(0);
      }
  }
  @keyframes swing
  {
      15%
      {
          -webkit-transform: translateX(5px);
          transform: translateX(5px);
      }
      30%
      {
          -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
      }
      50%
      {
          -webkit-transform: translateX(3px);
          transform: translateX(3px);
      }
      65%
      {
          -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
      }
      80%
      {
          -webkit-transform: translateX(2px);
          transform: translateX(2px);
      }
      100%
      {
          -webkit-transform: translateX(0);
          transform: translateX(0);
      }
  }




  .column:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}




/*   
  @keyframes swinging{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    75%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
} */

/* .column:hover img {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 2s ease-in-out forwards infinite;
    animation: swinging 2s ease-in-out forwards infinite;
} */

